@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-d6efff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-d6efff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fe654f; /* Red-Orange color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add this to your global CSS or a dedicated CSS file for custom styles */
.Toastify__toast--success {
  background-color: #4caf50; /* Custom success color */
  color: white; /* Custom text color */
}

.Toastify__progress-bar--success {
  background-color: #2e7d32; /* Custom progress bar color */
}
